<h1>Hola mundo</h1>
<!--<app-mi-primer-componente></app-mi-primer-componente>-->

<nav>
    <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/admin">Dashboard Administrador</a></li>
        <li><a routerLink="/formulario-uno">Formulario Uno</a></li>
        <li><a routerLink="/todo">Animación Todo's</a></li>
        <li><a routerLink="/collapsable">Animación Collaspsable</a></li>
        <li><a routerLink="/lista">Animación Lista</a></li>
        <li><a routerLink="/material-standalone">Material standalone</a></li>
        <!--<li><a routerLink="/dashboard/desarrollo">Dashboard Desarrollo</a></li>
        <li><a routerLink="/dashboard/produccion">Dashboard Producción</a></li>-->
    </ul>
</nav>
<router-outlet></router-outlet>